@import url("./base-components/hamburger/hamburger.css");
@import url("./base-components/close-button/close-button.css");
@import url("./base-components/mobile-top-bar/mobile-top-bar.css");
@import url("./base-components/nav-comp/nav-comp.css");
@import url("./base-components/mobile-nav/mobile-nav.css");
@import url("./base-components/content-area/content-area.css");
@import url("./base-components/desktop-sidebar-nav/desktop-sidebar-nav.css");
@import url("./base-components/bottom-section/bottom-section.css");
@import url("./other-components/pricing/pricing.css");
@import url("./pages-components/access-pages/access.css");
@import url("./pages-components/admin-front-end/adm.css");
@import url("./pages-components/transactions/transactions.css");
@import url("./pages-components/feedback-chat/chat.css");
@import url("./pages-components/user-account/account.css");
@import url("./pages-components/homepage/homepage.css");
@import url("./font/font.css");
*{
    font-family: "Dekko";
}
@font-face{
    font-family:'AlbertText-Bold' ;
    src: url('./AlbertText-Bold.ttf');
}
@font-face{
    font-family: "Amaranth";
    src : url("./Amaranth-Bold.ttf");
}
@font-face{
    font-family: "Amaranth";
    src: url("./Amaranth-Regular.ttf");
}

[class~="top_bar_container"]{
    box-shadow: 1px 1px 3px grey;
    background-color: white;
}
[class~="overflow-y"]{
    overflow-y: scroll;
    scrollbar-width: thin
}
#mainArea{
    z-index: 0.5;
    position: absolute;
    width: 100%;
}
#main_row{
    position: absolute;
    height: inherit;
    padding-top: 55px;
}
[class~="seen"]{
    display: block;
}
[class~="hidden"]{
    display: none;
}
[class~="order1"]{
    z-index: 1;
}
[class~="order2"]{
    z-index: 2;
}
[class~="order3"]{
    z-index: 3;
}
.inline_display{
    display: inline;
}