.adm_home_section .row {
    flex-wrap: wrap;
     margin-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    box-shadow: 1px 1px 3px gray;
}
.adm_home_section .row div{
    text-align : center;
    width  : 200px;
    padding : 5px 10px 5px 10px;
    margin: 5px auto;
    border-radius: 5px;
}
.adm_home_section .row div:hover{
    cursor: pointer;
}